<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Под куполом Вселенной</title>

    <script src="libs/doT.min.js"></script>
    <script src="libs/jquery.min.js"></script>
    <script src="libs/dedalus.js"></script>
    <script src="libs/dedalus-web.js"></script>
	<script src="soko.js"></script>
	<script src="terminal.js"></script>

    <link rel="stylesheet" href="style/story.css">

</head>
<body>
    <div id="story">
        <initscript>
			story.flashLightOn = false; // фонарик выключен
			story.robotCharge = 102; // начальный заряд аккумуляторов
			story.powerOn = false; // питание корабля выключено
			story.historyRead = false; // краткая история при входе в отсек Долгого сна (не прочитана)
			story.gardenRead = false; // вступление Оранжерея не читал
			story.checkCrew = false; // не проверил состояние экипажа
			story.pullCab = false; // тележку не катит
			story.cabLocation; // локация тележки
			story.bridgeUnlock = false; // дверь на мостик заблокирована
			story.openClosetDoor = false; // не открыл дверь кладовки
			story.gotAlarm = false; // не получил предупреждение о планете
			story.robotChoice =''; // кого разбудил
			story.score = 0; // счет
			story.gotDropQuest = false; // не получил квест на ящики	
			story.bayUnlock = false; // шлюз заблокирован
			story.cabCharged = false; // тележка разряжена
			story.cabUnderTable = true; // тележка под столом
			story.lightBridgeDoor = false; // не осветил дверь мостика
			story.charged = false; // не использовал зарядку
			story.gotShovel = false; // не взял лопату

			// обновление статуса заряда аккумуляторов
			story.statusScreen = function () {
				$("#status").html(story.robotCharge + ' %');

				if (story.robotCharge > 49) {
					$("#status").css("color","#6ee38d");
				}
				else if (story.robotCharge < 50 && story.robotCharge > 28) {
					$("#status").css("color","yellow");
				}
				else if (story.robotCharge < 29 && story.robotCharge > 17) {
					$("#status").css("color","orange");
				}
				else {
					$('#status').addClass('blink1');
				}
				(story.score < 0) && (story.score = 0);
				$('#score').text(story.score + '/100');
			};
			
			//генерируем пароль для шлюза
			story.passGeneration = function () {
				var pass = '';
				for (var i = 1; i < 6; i++) {
					pass += Math.floor(Math.random()*9);
				}
				return pass;
			};

			story.password = story.passGeneration(); // пароль от шлюза
			
        </initscript>

		<beforeEveryPageTurn>
			story.prevLocation = story.currentPage; // Id предыдущей локации
		</beforeEveryPageTurn>

		<afterEveryPageTurn>
			//расходуем заряд при переходах
			(story.getNumParagraphsShown() > 1 && !story.currentPageIs("темнаяКомната") && story.prevLocation != 'темнаяКомната' && !story.currentPageIs("Разрядился") && !story.currentPageIs("пробуждение")) && !story.currentPageIs('конец') && !story.currentPageIs('Возле двери шлюза') && story.prevLocation != 'Возле двери шлюза' && (story.robotCharge -= 2);
			
			// показываем и скрываем соко-элементы
			(!story.currentPageIs('soko')) && $('#sokoScreen div').hide();
			(story.currentPageIs('soko')) && $('#sokoScreen div').show();

			// показываем и скрываем терминал
			(!story.currentPageIs('Возле двери шлюза')) && $('#terminal').hide();
			(story.currentPageIs('Возле двери шлюза')) && $('#terminal').show();
			
			//тележка
			if (story.getNumParagraphsShown() > 1 && !story.currentPageIs("темнаяКомната") && !story.currentPageIs('пробуждение')) {
				if (story.pullCab) {
					story.cabLocation = story.currentPage;
				};
			story.showParagraph('телега');
			};
			
			// разрядилась батарея
			(story.robotCharge == 0) && story.showParagraph("Разрядился");
        </afterEveryPageTurn>

		<afterEveryThing>
			//обновляем экран статуса и счет
			(story.getNumParagraphsShown() > 1) && story.statusScreen(); 
		</afterEveryThing>


        <!-- Novel -->
		
        <title>ПОД КУПОЛОМ ВСЕЛЕННОЙ</title>
			<page id = 'intro'>
			</page>
			
        <!-- Pages -->
		
		<!-- Вступление -->
	
        <page id="Загрузка" class = 'first'>
			<p><show paragraph="включение" id = 'включение'>Включить питание</show></p>
			<paragraph id = 'включение'>
				<div class="loadingBlock">
  				<div class="loadingString">
    				<div>Выход из спящего режима</div>
    				<div class = 'loadingDots'>....................</div>
    				<div class = 'Ok'>[OK]</div>
  				</div>
				<br>
 				<div class="loadingString">
   					<div class = 'Ok'>Загрузка системы</div>
 					<div class = 'loadingDots' style="animation-delay: 6s;">...........</div> 
 					<div class = 'Ok' style="animation-delay: 11s;">[OK]</div>
 				</div>
			</div>
		<br>
		 
		<div class = 'Ok' style="animation-delay: 12s;"><img src="pics/titul.png" width = "60%"></div>
		
		<div class = 'Ok' style="animation-delay: 13s;">		
        <p><show paragraph="вступление" id = 'вступление'>Начать игру</show></p>
		</div>
		{{story.disable('включение');}}
			</paragraph>
			<paragraph id = 'вступление'>
				<p>Эта история произошла на борту первого межзвездного корабля «Рассвет». Однажды, ты очнулся в своей кладовке после внезапной перезагрузки. С тобой и раньше такое случалось, но в этот раз, по непонятной причине, все, что хранилось в твоей оперативной памяти стерлось вместе с событиями последних часов. Кстати, тебя зовут РУП: Роботизированный Универсальный Помощник. Твои батареи полностью заряжены, а системы готовы к работе.</p>
				<p><turn to="Кладовая">Поехали!</turn></p>
				{{story.disable('вступление');}}
			</paragraph>
        </page>

		<!--Кладовка-->
		
		<page id="Кладовая">
			{{story.currentPage = 'Кладовая';}}
			<p><b>Кладовая</b></p>
			<p><img src = 'pics/kladovka.png'></p>
			<p>Крохотная, по человеческим меркам, комнатка в кормовой части корабля. <interact with = 'Трубка' id = 'трубкаВыкл' class = 'disabled'>Трубка с флюорисцирующей жидкостью</interact> под потолком окрашивает стены, <interact with = 'полка' id = 'полкаВыкл' class = 'disabled'>полку</interact>, и <interact with = 'Дверца'>дверь</interact> в тревожные бордовые тона. В углу в специальной нише установлен <interact with = 'Зарядник' id = 'зарядникВыкл' class = 'disabled'>зарядник</interact>. Вряд ли кто из твоих друзей-людей согласится провести у тебя в гостях больше пяти минут, и, тем не менее, ты ни за что не променяешь это жилье ни на что другое.</p>
		</page>
		
		<!--Трубка-->
		
		<obj id = 'Трубка' inventoryName = 'Трубка'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть трубку</p>
				<p>Красные флюорисцирующие пузырьки, напоминающие кровяные тельца, медленно движутся по стекляной трубке. Это движение создает удивительную игру теней на стенах, за которой ты так любишь наблюдать долгими одинокими вечерами.</p>
			</action>
		</obj>

		<!--Полка-->
		
		<obj id = 'полка' inventoryName = 'полка'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть полку</p>
				{{? !story.isInInventory('фонарик')}}
					<p>Высокая, во всю стену железная полка уставлена рядами <show paragraph = 'серые коробки'>серых пластиковых коробок</show>, <show paragraph = 'щетки'>чистящих средств и щеток</show>, и <show paragraph = 'бумаги'>официальных бумаг</show> в толстых картонных папках. Среди всей этой мешанины предметов взгляд твоих объективов останавливается на <interact with = 'фонарик' id = "фонарик">фонарике</interact>.</p>  
				{{??}}
					<p>Высокая, во всю стену железная полка уставлена рядами <show paragraph = 'серые коробки'>серых пластиковых коробок</show>, <show paragraph = 'щетки'>чистящих средств и щеток</show>, и <show paragraph = 'бумаги'>официальных бумаг</show> в толстых картонных папках.</p>
				{{?}}
			</action>
		</obj>

		<!--Фонарик-->
		
		<obj id = 'фонарик' inventoryName = 'Фонарик'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть фонарик</p>
					{{? !story.currentPageIs('темнаяКомната')}}
						<p>Компактный, но мощный фонарик со специальным разъемом позволяет подключать его к тебе напрямую, оставляя манипуляторы свободными.</p>
						{{? story.flashLightOn}}
							<p>Сейчас фонарик включен.</p>
						{{??}}
							<p>Сейчас фонарик выключен.</p>
						{{?}}
					{{??}}
						<p>Тебе не удается ничего рассмотреть.</p>
					{{?}}
			</action>
			<action id = 'Взять'>
				<p class = 'question'>взять фонарик</p>
				<when>!story.isInInventory("фонарик")</when>
					<p>Ты вставляешь фонарик в один из своих слотов.</p>
					{{story.putInInventory('фонарик');}}
					{{story.disable("фонарик");}}
					{{story.score += 5;}}
			</action>
			<action id = 'Включить'>
				<p class = 'question'>включить фонарик</p>
				<when>!story.flashLightOn</when>
					<p>Ты включаешь фонарь.</p>
					{{story.flashLightOn = true;}}
					{{? story.currentPageIs('темнаяКомната')}}
						{{story.turnTo(story.prevLocation);}}
					{{?}}
			</action>
			<action id = 'Выключить'>
				<p class = 'question'>выключить фонарик</p>
				<when>story.flashLightOn</when>
					<p>Ты выключаешь фонарь.</p>
					{{story.flashLightOn = false;}}
					{{? !story.currentPageIs("Кладовая") && !story.powerOn}}
						{{story.turnTo("темнаяКомната");}}
					{{?}}
			</action>
			<action id = 'Осветить'>
				<when>story.isInInventory("фонарик") && story.flashLightOn</when>
					<with id = 'полка'>
						<p class = 'question'>осветить полку</p>
						<p>Пожалуй, здесь не мешает протереть пыль, но ты решаешь, что это может пока подождать.</p>
					</with>
					<with id = 'грядки'>
						<p class = 'question'>осветить грядки</p>
						{{? !story.isInInventory('лопата')}}
							<p>На земле под разросшимися листьями огурца ты обнаруживаешь <interact with = 'лопата' id = 'лопатаНаГрядке'>садовую лопату</interact>.</p>							
						{{??}}
							<p>Ты прикидываешь, что неплохо бы прополоть огурцы.</p>
						{{?}}
					</with>
					<with id = 'дверь на мостик'>
						<p class = 'question'>осветить дверь на мостик</p>
						{{? !story.bridgeUnlock}}
							<p>Ты замечаешь между створками дверей узкую щель. К сожалению, слишком узкую для твоих манипуляторов.</p>
							{{? !story.lightBridgeDoor}}
								{{story.score += 5;}}
								{{story.lightBridgeDoor = true;}}
							{{?}}
						{{??}}
							<p>Тебе не удается рассмотреть ничего интересного.</p>	
						{{?}}
					</with>
					<with id = 'пилот'>
						<p class = 'question'>осветить пилота</p>
						<p>- Эй, Руп, прекрати светить мне в лицо!</p>
					</with>
				<p class = 'question'>осветить</p>
				<p>Тебе не удается рассмотреть ничего интересного.</p>
			</action>
		</obj>

		<!--Дверь-->
		
		<obj id = 'Дверца' inventoryName = 'Дверь'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть дверь</p>
				<p>Сдвижная дверца, в отличии от прочих дверей на корабле, никогда не запиралась - в ней просто не сущестовало такого механизма. Когда тебе нужно было войти или выйти ты просто отодвигал створку.</p>
			</action>
			<action id = 'Открыть'>
				{{? story.currentPageIs('Трюм')}}
					{{story.turnTo('Кладовая');}}
					{{story.enable('полкаВыкл');}}
					{{story.enable('зарядникВыкл');}}
					{{story.enable('трубкаВыкл');}}
				{{??}}
					{{? story.powerOn || (story.isInInventory('фонарик') && story.flashLightOn)}}
						{{story.turnTo('Трюм');}}
					{{??}}
						<p class = 'question'>открыть дверь</p>
						<p>Ты открываешь дверь и обнаруживаешь, что снаружи служебное освещение не работает. Что-то произошло пока ты находился в режиме сна. Конечно, ты помнишь план корабля наизусть, но твои алгоритмы запрещают тебе передвигаться в темноте.</p>
						{{? !story.openClosetDoor}}
							<p><b>Новое задание: «Восстановить энергоснабжение корабля».</b></p>
							<p><b>Новое задание: «Проверить состояние экипажа».</b></p>
							{{story.openClosetDoor = true;}}
							{{story.enable('полкаВыкл');}}
							{{story.enable('зарядникВыкл');}}
							{{story.enable('трубкаВыкл');}}
							{{story.score += 5;}}
						{{?}}
					{{?}}
				{{?}}
			</action>
		</obj>
		
		<!--Зарядник-->

		<obj id = 'Зарядник' inventoryName = 'Зарядник'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть зарядник</p>
				<p>Зарядник представляет из себя широкий серый короб с двумя узкими прямоугольными щелями на лицевой стороне. Благодаря специальной нише в стене он почти не занимает лишнего места в кладовке.</p>
			</action>
			<action id = 'Зарядиться'>
				<p class = 'question'>зарядиться</p>
				{{? !story.powerOn}}
					<p>Похоже, все электричество на корабле куда-то исчезло...</p>
				{{??}}
					<p>Ты подсоединяешься к заряднику, и уже через секунду чувствуешь как энергия начинает течь по твоим контурам, тепло разливаясь по всему корпусу. Через минуту ты уже ощущаешь себя полным сил роботом.</p>
					{{story.robotCharge = 100;}}
					{{$('#status').removeClass('blink1');}}
					{{? !story.charged}}
						{{story.score += 5;}}
						{{story.charged = true;}}
					{{?}}
				{{?}}		
			</action>
			<action id = 'Зарядить'>		
				<with id = 'фонарик'>
					<p class = 'question'>зарядить фонарик</p>
					<p>Фонарик уже заряжен.</p>
				</with>
				<with id = 'тележка'>
					<p class = 'question'>зарядить тележку</p>
					{{? story.powerOn}}
						{{? !story.cabCharged}}
							<p>Ты подключаешь тележку к заряднику, и, через пару минут на ее боковой панели вспыхивает зеленый огонек.</p>
							{{story.cabCharged = true;}}
							{{story.score += 5;}}
						{{??}}
							<p>Тележка уже заряжена.</p>
						{{?}}
					{{??}}
						<p>Похоже, все электричество на корабле куда-то исчезло...</p>
					{{?}}
				</with>
				<p class = 'question'>зарядить</p>
				<p>Хм, странная идея...</p>
			</action>
		</obj>

		<!--Бумаги-->
		
		<paragraph id = 'бумаги'>
			<p class = 'question'>осмотреть бумаги</p>
			<p>Бюрократы с Земли позаботились обеспечить вас правилами, инструкциями, и директивами, касающимися всего, что только может случиться во время экспедиции: от космической лихорадки до мятежа на корабле.</p>
		</paragraph>

		<!--Серые коробки-->
		
		<paragraph id = 'серые коробки'>
			<p class = 'question'>осмотреть коробки</p>
			<p>Ничем не примечательные коробки, да, к тому же, пустые.</p>
		</paragraph>

		<!--Щетки-->
		
		<paragraph id = 'щетки'>
			<p class = 'question'>осмотреть щетки</p>
			<p>Уборка корабля - твоя профессиональная ежедневная обязанность.</p>
		</paragraph>
		
	
		<!--Трюм-->
		
		<page id = 'Трюм'>
			{{story.currentPage = 'Трюм';}}
			<b>Трюм</b>
			<p><img src = 'pics/trum.png'></p>
			<p>В трюме корабля хранится все, что может на первое время понадобиться будущим колонистам Сириуса Д: строительные материалы, инструменты, одежда, оружие, и еще тысяча важных мелочей. Все это добро надежно упрятано в прочных <interact with = 'контейнеры'>контейнерах</interact>, способных перенести падение с высоты в несколько километров. Их здесь так много, что трюм немного смахивает на лабиринт. В западной стене, напротив <interact with = 'Дверца'>кладовки</interact> имеется <interact with = 'шлюз'>шлюз</interact> для выхода наружу. Проход в северной части комнаты ведет в <turn to = 'Отсек долгого сна'>отсек долгого сна</turn>.</p>
			{{? story.openClosetDoor}}
				{{story.putInInventory('фонарик');}}
			{{?}}
			{{? story.gotShovel}}
				{{story.putInInventory('лопата');}}
			{{?}}
		</page>
		
		<!--Контейнеры-->

		<obj id = 'контейнеры' inventoryName = 'Контейнеры'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть контейнеры</p>
				<p>Контейнеры заполняют почти все пространство трюма. Большие, маленькие, огромные - все они достаточно прочные, чтобы выдержать падение с большой высоты. Каждый такой контейнер покрыт специальной микроорганической пленкой, способной поглощать любые удары.</p>
			</action>
			<action id = 'Открыть'>
				<p class = 'question'>открыть контейнер</p>
				<p>Открыть контейнеры имеет право только капитан, и только после того как корабль окажется на планете.</p>
			</action>
			<action id = 'Взять'>
				<p class = 'question'>взять контейнер</p>
				<p>Контейнеры очень тяжелые. Мощности твоих сервоприводов явно не хватит.</p>
			</action>	
		</obj>
		
		<!--Шлюз-->

		<obj id = 'шлюз' inventoryName = 'Шлюз'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть шлюз</p>
				<p>Широкие массивные двери шлюза разделяют трюм и кессоную камеру за которой начинается космос. Двери шлюза снабжены электронным кодовым замком.</p>
				{{? story.bayUnlock}}
					{{story.showParagraph('правильныйПароль');}}
				{{?}}
			</action>
			<action id = 'Ввести код'>
				{{? story.bayUnlock}}
					<p class = 'question'>ввести код</p>
					<p>Шлюз уже разблокирован.</p>
				{{??}}
					{{story.turnTo('Возле двери шлюза');}}
				{{?}}
			</action>
		</obj>
		
		<!--Правильный пароль-->

		<paragraph id = 'правильныйПароль'>
			<p>Над дверью шлюза вспыхивает и гаснет табличка:</p>
			<h3 class = 'blink1' align = 'center'>ШЛЮЗ ОТКРЫТ</h3>
		</paragraph>

		<!--Возле двери шлюза-->
		
		<page id = 'Возле двери шлюза'>
			{{story.currentPage = 'Возле двери шлюза';}}
			<p><b>Возле двери шлюза</b></p>
			<turn to = 'Трюм'>Назад</turn>
			{{story.removeFromInventory('фонарик');}}
			{{story.removeFromInventory('лопата');}}
			{{terminal();}}
		</page>
		
		<!--Отсек долгого сна-->

		<page id = 'Отсек долгого сна'>
			{{story.currentPage = 'Отсек долгого сна';}}
			<p><b>Отсек долгого сна</b></p>
			<p><img src = 'pics/son.png'></p>
			{{? !story.historyRead}}
				<p>Двенадцать лет назад ваша экспедиция стартовала с Земли к Сириусу. Чтобы избежать всевозможных рисков, которые могли угрожать успеху миссии ученые решили, что все время полета экипаж должен находиться в состоянии, напоминающим летаргический сон. Были разработаны специальные «саркофаги» (ученые предпочитали употреблять термин «темпоральные ванны»), способные поддерживать жизнедеятельность организма очень долгое время.</p>
				{{story.historyRead = true;}}
			{{?}}
			<p>В центре отсека боками друг к другу установлены <interact with = 'саркофаги'>три высоких саркофага</interact>. Тут же стоит <interact with = 'терминал'>терминал</interact> на который выводится информация о физических показателях экипажа. Широкая арка на западе ведет в <turn to = 'Кают-компания'>кают-компанию</turn>. В противоположной стороне находится проход в <turn to = 'Оранжерея'>оранжерею</turn>. Серая железная лестница на мостик оканчивается <interact with = 'дверь на мостик'>серебристой дверью</interact>. Проход в <turn to = 'Трюм'>трюм</turn> - в южной части комнаты.</p>
		</page>
		
		<!--Саркофаги-->

		<obj id = 'саркофаги' inventoryName = 'Саркофаги'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть саркофаги</p>
				<p>Каждый из трех саркофагов закрыт прозрачной крышкой за которой ты можешь видеть своих друзей: 
				{{? story.robotChoice == ''}}
					<show paragraph = 'капитан'>капитана</show>, <show paragraph = 'биолог'>биолога</show>, и <show paragraph ='инженер'>инженера</show>.
				{{?}}
				{{? story.robotChoice == 'капитан'}}
					<show paragraph = 'биолог'>биолога</show> и <show paragraph ='инженер'>инженера</show>.
				{{?}}
				{{? story.robotChoice == 'девушка-биолог'}}
					<show paragraph = 'капитан'>капитана</show> и <show paragraph ='инженер'>инженера</show>.
				{{?}}
				{{? story.robotChoice == 'инженер'}}
					<show paragraph = 'капитан'>капитана</show> и <show paragraph = 'биолог'>биолога</show>.
				{{?}}
				</p>
				<p>Их тела, опутанные паутиной трубок, в ярком зеленом свете саркофага выглядят немного пугающими.</p>	
			</action>
			<action id = 'Открыть'>
				<p class = 'question'>открыть саркофаг</p>
				<p>Ты бы не стал этого делать, даже если бы мог. Резкое пробуждение может быть фатальным. Безопасно вывести человека из состояния сна может только центральный компьютер.</p>
			</action>
		</obj>

		<!--Капитан-->
		
		<paragraph id = 'капитан'>
			<p class = 'question'>осмотреть капитана</p>
			<p>Капитан корабля «Рассвет» Михаил Ермаков даже во сне выглядел серьезным. Его худощавое волевое лицо было напряжено, словно он прямо сейчас решал очередную возникшую перед ним проблему.</p>	
		</paragraph>

		<!--Биолог-->
		
		<paragraph id = 'биолог'>
			<p class = 'question'>осмотреть биолога</p>
			<p>Молодая китаянка Лу Минь выглядит умиротворенной. Возможно, если бы ты был знаком с творчеством Ганса Христиана Андерсена тебе в голову пришла бы вполне определенная ассоциация.</p>
			<p>Кажется невероятным, что эта миниатюрная хрупкая, на первый взгляд, девушка оставила позади двадцать тысяч других кандидаток на место биолога в экспедиции.</p>
		</paragraph>

		<!--Инженер-->
		
		<paragraph id = 'инженер'>
			<p class = 'question'>осмотреть инженера</p>
			<p>Джон Смит - самый молодой член экипажа (не считая тебя). Его лицо густо заросшее бородой и внушительная комплекция не оставляют сомнения в занимаемой им должности на корабле. Джон - инженер. А также программист, техник, грузчик, и просто лучший друг роботов!</p>
		</paragraph>

		<!--Информационный терминал-->
		
		<obj id = 'терминал' inventoryName = 'Терминал'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть терминал</p>
				{{? !story.powerOn}}
					<p>На черном матовом экране терминала всегда можно прочесть информацию о состоянии члена экипажа: давление, пульс, температура тела... Но, сейчас экран абсолютно чист!</p>
					{{? !story.checkCrew}}
						<p>Что-то случилось со всей энергосистемой корабля. Жизнь экипажа в опасности! Ты должен немедленно что-то предпринять.</p>
						<p><b>Задание «Проверить состояние экипажа» выполнено.</b></p>
						<p><b>Новое задание: «Восстановить систему жизнеобеспечения экипажа».</b></p>
						{{story.score += 5;}}
						{{story.checkCrew = true;}}
					{{?}}
				{{??}}
					<p>На черном матовом экране терминала змеятся разноцветные графики с данными о состоянии экипажа. На сколько ты можешь судить, все показатели в норме. Впрочем, если бы и было что-то не так система дала бы сигнал и самостоятельно произвела необходимые процедуры.</p>
					{{? !story.checkCrew}}
						<p><b>Задание «Проверить состояние экипажа» выполнено.</b></p>
						{{story.checkCrew = true;}}
						{{story.score += 5;}}
					{{?}}
				{{?}}
			</action>
		</obj>

		<!--Дверь на мостик-->
		
		<obj id = 'дверь на мостик' inventoryName = 'Дверь'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть дверь на мостик</p>
				<p>В полированных металических створках дверей ты видишь только свое отражение. Ни ручек, ни замков на ней, конечно нет. Дверь открывается автоматически, когда кто-нибудь касается ее.</p>
			</action>
			<action id = 'Открыть'>
				{{? story.currentPageIs('Мостик')}}
					{{story.turnTo('Отсек долгого сна');}}
				{{??}}
					{{? story.bridgeUnlock}}
						{{story.turnTo('Мостик');}}
					{{??}}
						<p class = 'question'>открыть дверь на мостик</p>
						<p>Ты касаешься двери манипулятором, и... ничего не происходит. Автоматика почему-то не сработала. Вероятно, из-за того, что сейчас корабль, по какой-то причине, обесточен.</p>
					{{?}}
				{{?}}
			</action>
		</obj>

		<!--Оранжерея-->
		
		<page id = 'Оранжерея'>
			{{story.currentPage = 'Оранжерея';}}
			<p><b>Оранжерея</b></p>
			<p><img src = 'pics/orange.png'></p>
			{{? !story.gardenRead}}
				<p>Оранжерея на космическом корабле совсем не то же, что оранжерея на Земле или Титане. Предполагалось, что овощи и фрукты, выращенные в ней, станут основным источником пищи для колонистов на первое время. Ведь, еще неизвестно будут ли земные семена способны адаптироваться к почве Сириуса Д. Кроме того, растения должны были обеспечивать экипаж кислородом на время полета.</p>
				{{story.gardenRead = true;}}
			{{?}}
			<p>Оранжерея на «Рассвете» размером с гараж. Единственный выход ведет в <turn to = 'Отсек долгого сна'>отсек долгого сна</turn>. Кроме мощных ламп, для экономии электроэнергии в потолке были сделаны несколько больших <interact with = 'иллюминаторы'>иллюминаторов</interact>. Таким образом, оказавшись на планете, растения могли бы получать энергию непосредственно от Сириуса.</p>
			<p>На нескольких квадратных метрах земли (особой высокоминирализованной смеси, способной прорастить даже лопату) твоими стараниями уместились <interact with = 'грядки'>грядки</interact> с помидорами, картошкой, клубникой, и огурцами. Занятие садоводством было одним из твоих любимых развлечений на корабле.</p>
		</page>
				
		<!--Иллюминаторы-->
		
		<obj id = 'иллюминаторы' inventoryName = 'Иллюминаторы'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть иллюминаторы</p>
				<p>В целях безопасности, до посадки на планету иллюминаторы закрыты снаружи специальными сдвижными панелями.</p>
			</action>
		</obj>

		<!--Грядки-->
		
		<obj id = 'грядки' inventoryName = 'Грядки'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть грядки</p>
				<p>Ровные ряды грядок содержатся тобой в абсолютном порядке. Специальные датчики сообщают когда следует прибавить температуру, а когда произвести прополку.</p>
			</action>
		</obj>

		<!--Лопата-->
		
		<obj id = 'лопата' inventoryName = 'Лопата'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть лопату</p>
				{{? !story.currentPageIs('темнаяКомната')}}
					<p>Небольшой - около полуметра в длину и очень прочный садовый инструмент.</p>
				{{??}}
					<p>Тебе не удается ничего рассмотреть.</p>
				{{?}}
			</action>
			<action id = 'Взять'>
				<when>!story.isInInventory('лопата')</when>
					<p class = 'question'>взять лопату</p>
					<p>Ты подбираешь с земли лопату.</p>
					{{story.putInInventory('лопата');}}
					{{story.score += 5;}}
					{{story.disable('лопатаНаГрядке');}}
					{{story.gotShovel = true;}}
			</action>
			<action id = 'Использовать'>
				<when>story.isInInventory('лопата')</when>
					<p class = 'question'>использовать лопату</p>
					<with id = 'грядки'>
						<p class = 'question'>использовать лопату</p>
						<p>Сейчас не время заниматься садоводством.</p>
					</with>
					<with id = 'контейнеры'>
						<p class = 'question'>использовать лопату</p>
						<p>Эти ящики способны выдержать падение с нескольких километров. Что им какая-то лопата...</p>
					</with>
					<with id = 'дверь на мостик'>
						<p class = 'question'>использовать лопату</p>
						{{? !story.bridgeUnlock}}
							<p>Ты просовываешь лопату в щель между створками дверей, и, действуя ею как ломом, понемного начинаешь раздвигать дверцы. Через несколько секунд в механизме дверей что-то щелкает, и они сами распахиваются.</p>
							{{story.bridgeUnlock = true;}}
							{{story.score += 5;}}
						{{??}}
							<p>Дверь уже разблокирована.</p>	
						{{?}}
					</with>
					<p>Деструктивное поведение противоречит принципам твоих алгоритмов.</p>
			</action>
		</obj>

		<!--Кают-компания-->

		<page id = 'Кают-компания'>
			{{story.currentPage = 'Кают-компания';}}
			<p><b>Кают-компания</b></p>
			<p><img src = 'pics/kaut.png'></p>
			<p>Кают-компания на межзвездном корабле «Рассвет» выполняла сразу несколько функций. Помимо <interact with = 'зона для приема пищи'>зоны для приема пищи</interact> здесь располагались <show paragraph ='тренажеры'>тренажеры</show>, <show paragraph = 'рекреационная зона'>рекреационная зона</show>, <show paragraph = 'штаб'>штаб будущих колонистов</show>... И все это на площади в полторы гостинные среднестатистического землянина.</p>
			<p>Стены, мебель, пол и потолок каюты были оформлены максимально ярко - психологи посчитали, что это поможет экипажу лучше пережить расставание с Землей. Полукруглая арка на востоке ведет в <turn to = 'Отсек долгого сна'>отсек долгого сна</turn>.</p>
		</page>
		
		<!--Стол-->

		<obj id = 'зона для приема пищи' inventoryName = 'Стол'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть стол</p>
				<p>По-сути, это обыкновенный «умный стол»: плита, посудомоечная машина, машина для переработки отходов, холодильник, и, собственно, стол в одном. С боковой стороны в нем имеется невысокая <interact with = 'дверца стола'>дверца</interact>. Умный стол, как гласит реклама «крайне полезная вещь в условиях крайне ограниченного пространства».</p>
			</action>
		</obj>
		
		<!--Дверца стола-->

		<obj id = 'дверца стола' inventoryName = 'Дверца стола'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть дверцу стола</p>
				<p>Белая пластиковая дверца призвана скрыть от глаз контейнеры с мусором, переработанные отходы и прочии малоаппетитные вещи.</p>
			</action>
			<action id = 'Открыть'>
				<p class = 'question'>открыть дверцу стола</p>
				{{? story.cabUnderTable}}
					<p>В темноте, среди мусорных контейнеров, проводов и труб тебе удается разглядеть <interact with = 'тележка'>хозяйственную тележку</interact>.</p>
				{{??}}
					<p>Кроме мусорных контейнеров, проводов и труб под столом нет ничего интересного.</p>
				{{?}}
			</action>
		</obj>
		
		<!--Тренажеры-->

		<paragraph id = 'тренажеры'>
			<p class = 'question'>осмотреть тренажеры</p>
			<p>Беговая дорожка, велотренажер и мобильный физиокомлекс - вот, все что требуется для того, чтобы за несколько дней восстановить организм после долгого сна и пребывания в невесомости.</p>
		</paragraph>

		<!--Рекреационная зона-->
		
		<paragraph id = 'рекреационная зона'>
			<p class = 'question'>осмотреть рекреационную зону</p>
			<p>Ученые Титана совершили маленькую технологическую революцию в середине двадцать пятого столетия. Они сконструировали особое «кресло», позволяющее абсолютно точно передать сидящему любую гамму физиологических ощущений, какие только он сам желает испытать (или какие ему назначит врач).</p>
			<p>Еще долгие годы после создания «кресла» ученые яростно спорили о вреде и пользе данного изобретения. Однако, практика показала, что в долгих космических перелетах применение кресла положительно сказывается на душевном здоровье космонавтов, вынужденно лишенных простых физиологических радостей.</p>
		</paragraph>

		<!--Штаб-->
		
		<paragraph id = 'штаб'>
		    <p class = 'question'>штаб будущих колонистов</p>
			<p>Когда «Рассвет» достигнет своей цели он станет основой для будущей базы колонистов. Конструкция корабля такова, что, при необходимости, его, относительно легко, можно расширять за счет дополнительных модулей. Ненужные же компоненты можно снимать и использовать в других местах.</p>
		</paragraph>

		<!--Мостик-->

		<page id = 'Мостик'>
			{{story.currentPage = 'Мостик';}}
			<p><b>Мостик</b></p>
			<p><img src = 'pics/mostik.png'></p>
			<p>Командный отсек корабля освещен ярким голубым светом <show paragraph = 'Сириус'>планеты</show>, льющимся сквозь широкий иллюминатор на <interact with = 'пульт'>пульт</interact>, стены, пол и <interact with = 'кресло'>кресло</interact>. Десятки рукотворных звезд - многичесленных датчиков, индикаторов, и <interact with = 'кнопка'>кнопок</interact>, мигают каждый в своем собственном ритме. Позади тебя <interact with = 'дверь на мостик'>дверь</interact> в отсек долгого сна.</p>
		</page>

		<!--Сириус-->
		
		<paragraph id = 'Сириус'>
			<p class = 'question'>смотреть в иллюминатор</p>
			<p>Огромный диск заполнил почти весь иллюминатор. Планета очень напоминает Землю: те же облака, бесконечные зеленые пространства, должно быть, леса или джунгли, голубые кляксы - моря и океаны. Все так знакомо, и, в то же время, все по-другому. Пожалуй, единственное, что по-настоящему отличает Сириус Д от Земли - гигантское кольцо, опоясывающее планету от полюса до полюса.</p>
		</paragraph>

		<!--Кнопка-->
		
		<obj id = 'кнопка' inventoryName = 'Кнопки'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть кнопку</p>
				<p>За прозрачной крышкой щитка на стене ты видишь широкую красную кнопку с частично стершейся надписью «Пере...грузка».</p>
			</action>
			<action id = 'Нажать'>
				<p class = 'question'>нажать на кнопку</p>
				{{? story.powerOn}}
					<p>Ты уже перезапустил энергосистему корабля.</p>
				{{??}}
					<p>Ты нажимаешь на кнопку, и пару секунд спустя, кабина, внезапно, озаряется мягким желтым светом.</p>
					{{story.powerOn = true;}}
						<p><b>Задание «Восстановить энергоснабжение корабля» выполнено.</b></p>
						{{story.score += 5;}}
					{{? story.checkCrew}}
						<p><b>Задание «Восстановить систему жизнеобеспечения экипажа» выполнено.</b></p>
					{{?}}
				{{?}}
			</action>
		</obj>

		<!--Пульт-->
		
		<obj id = 'пульт' inventoryName = 'Пульт'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть пульт</p>
				{{? !story.powerOn}}
					<p>Полукруглая сенсорная панель под фронтальными иллюминаторами выглядит безжизненной.</p>
				{{??}}
					{{? story.robotChoice != ''}}
						<p>Ты видишь как твой друг, {{=story.robotChoice}}, быстро пробегая пальцами по сенсорной панели, пытается рассчитать новую траекторию...</p>
					{{??}}
						<p>На полукруглой сенсорной панели крупными буквами мигает надпись:</p>
						<h3 class = 'blink1' align = 'center'><b>ОПАСНАЯ ТРАЕКТОРИЯ СБЛИЖЕНИЕ С ПЛАНЕТОЙ!</b></h3>		
						<p>Ты быстро пробегаешь по столбцам с данными. Корабль по какой-то причине отклонился от рассчетной траектории. Отчеты компьютера говорят, что оставаясь на текущем курсе, через двенадцать часов «Рассвет» неизбежно столкнется с Сириусом Д. К несчастью, в твоей памяти не установлена программа управления кораблем.</p>
							{{? !story.gotAlarm}}
								<p><b>Новое задание: «Спасти экипаж и корабль».</b></p>
								{{story.gotAlarm = true;}}	
							{{?}}
					{{?}}
				{{?}}			
			</action>
			<action id = 'Разбудить капитана'>
				<when>story.robotChoice == '' && story.gotAlarm</when>		
					{{story.robotChoice = 'капитан';}}
					{{story.turnTo('пробуждение');}}
			</action>
			<action id = 'Разбудить биолога'>
				<when>story.robotChoice == '' && story.gotAlarm</when>
					{{story.robotChoice = 'девушка-биолог';}}
					{{story.turnTo('пробуждение');}}
			</action>
			<action id = 'Разбудить инженера'>
				<when>story.robotChoice == '' && story.gotAlarm</when>		
					{{story.robotChoice = 'инженер';}}
					{{story.turnTo('пробуждение');}}
			</action>
		</obj>

		<!--Кресло-->
		
		<obj id = 'кресло' inventoryName = 'Кресло'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть кресло</p>
				<p>Бежевое кресло из синтикожи с системой активной внешней амортизации.</p>
				{{? story.robotChoice != ''}}
					<p>Место пилота в кресле занимает <interact with = 'пилот'>{{=story.robotChoice}}</interact>.</p>
				{{?}}
			</action>
		</obj>

		<!--Пробуждение-->
		
		<page id = 'пробуждение'>
			{{story.currentPage = 'пробуждение';}}
			<p><b>Мостик</b></p>
			<p><img src = 'pics/mostik.png'></p>
			{{? story.robotChoice == 'капитан'}}
				<p>Ты решаешь, что в чрезвычайной ситуации на мостике должен находиться капитан.</p>
			{{?}}
			{{? story.robotChoice == 'девушка-биолог'}}
				<p>Ты решаешь, что чрезвычайная ситуация требует чрезвычайного подхода. Возможно, женская интуиция подскажет выход из опасной ситуации.</p>
			{{?}}
			{{? story.robotChoice == 'инженер'}}
				<p>Ты решаешь, что в чрезвычайной ситуации лучше всего положиться на логику и техническую сноровку.</p>
			{{?}}
			<p>Быстро пробежавшись манипуляторами по пульту, ты запускаешь программу пробуждения. На экране появляются графики и таблицы данных, которые свидетельствуют о том, что процесс пробуждения начался.</p>
			<p><show paragraph = 'приветствие' id = 'показыватьПриветствие'><...></show></p>
		</page>

		<!--Приветствие-->
		
		<paragraph id = 'приветствие'>
			{{story.disable('показыватьПриветствие');}}
			<p>Приходится основательно подождать. Процесс восстановления нормальной деятельности организма после двенадцатилетнего сна дело небыстрое. Следующие несколько часов кажутся вечными, учитывая, что время для тебя течет в миллионы раз быстрее, чем для человека.</p>
			<p><show paragraph = 'ожидание' id = 'показыватьОжидание'><...></show></p>
		</paragraph>
	
		<!--Ожидание-->
		
		<paragraph id = 'ожидание'>
			{{story.disable('показыватьОжидание');}}
			{{story.score += 5;}}
			<p>Наконец, вдалеке ты слышишь шаги. Двери мостика открываются. На пороге появляется твой друг, {{=story.robotChoice}}.</p>
			{{? story.robotChoice == 'капитан'}}
				<p>Он внимательно оглядывает кабину. На его серьезном лице читается тревога.</p>
				<p>- Здравствуй, Руп. Что тут случилось? Почему ты включил систему экстренного пробуждения?</p>
			{{?}}
			{{? story.robotChoice == 'девушка-биолог'}}
				<p>Она с интересом осматривает кабину, но уже через секунду замечает тебя.</p>
				<p>- О, привет, Руппи! Мы что, уже прилетели? А почему Джон и капитан еще спят?</p>
			{{?}}
			{{? story.robotChoice == 'инженер'}}
				<p>Джон быстро проходит внутрь салона.</p>
				<p>- Ну, здорово, приятель! Выкладывай, что у тебя тут произошло. Мы падаем? У нас кончилось топливо? Жители Сириуса хотят нас поприветствовать? Или съесть?</p>
			{{?}}
			<p>Ты быстро докладываешь о ситуации на корабле, и, минуту спустя, {{=story.robotChoice}} уже сидит в кресле пилота и производит необходимые рассчеты.</p>
			<p><turn to = 'Мостик'><...></turn></p>
		</paragraph>
		
		<!--Пилот-->

		<character id = 'пилот' inventoryName = 'Пилот'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть пилота</p>
				{{? story.robotChoice == 'капитан'}}
					<p>Капитан Ермаков выглядит напряженным и очень уставшим. Многие думают, что после долгого сна люди просыпаются здоровыми и отдохнувшими. В действительности, после пробуждения, обычно, требуется несколько дней специальной терапии, чтобы привести человека в норму.</p>
					<p>Капитан настолько погружен в рассчеты, что, кажется, не замечает тебя.</p>
				{{?}}
				{{? story.robotChoice == 'девушка-биолог'}}
					<p>Молодая китаянка Минь с задумчивым видом перебирает пальцами по экрану панели. Временами она бросает взгляд на иллюминатор. Как и остальные члены экипажа, она прекрасно умеет управлять звездолетом, вот только много ли девушек на ее месте оказывались в похожей ситуации?</p>
				{{?}}
				{{? story.robotChoice == 'инженер'}}
					<p>Джон выглядит расслабленным, даже слегка равнодушным, словно совершает рутинную посадку на Луну. Но, ты знаешь, что это не так. Сложно найти человека во всем «КосмоФлоте», который был бы более внимателен, собран, и аккуратен, чем Джон.</p>
				{{?}}
			</action>
			<action id = '«Могу я чем-нибудь помочь?»'>
				<p class = 'question'>«Могу я чем-нибудь помочь?»</p>
				{{? !story.gotDropQuest}}
					<p>- Пожалуй, можешь... Ты знаешь сколько весит наш груз?</p>
					<p>- Да, конечно, - ты называешь цифру.</p>
					<p>- Хорошо, - твой друг, {{=story.robotChoice}}, склонившись над электронной панелью быстро заносит какие-то цифры в бортовой компьютер. - Из-за этой дурацкой <b>вспышки на Сириусе</b> мы упустили возможность для коррекции орбиты. У нас не хватит энергии, чтобы изменить курс и посадить корабль. Так, что у нас тут получилось... Ммм, похоже шанс, все-же, есть, правда небольшой. У нас не достаточно энергии, но мы все еще можем уменьшить массу. Понимаешь, к чему я клоню?</p>
					<p>- Вы предлагаете избавиться от груза?</p>
					<p>- Именно! Это наш единственный шанс попасть на Сириус Д.</p>
					<p>- Я должен предупредить, что без инструментов, продовольствия, строительных материалов наш шанс выжить на планете будет равен...</p>
					<p>- У нас нет выбора, Руп. Будем надеяться, что на Сириусе мы найдем все, что потребуется для выживания. К тому же, контейнеры снабжены парашютами и маячками, так что, возможно, мы их когда-нибудь найдем...</p>
					<p><b>Новое задание: «Выбросить груз за борт».</b></p>			
					{{story.gotDropQuest = true;}}
					{{story.score += 5;}}
				{{??}}
					<p>- Избавься от груза, иначе нам крышка.</p>
				{{?}}
			</action>
			<action id = '«Какой пароль у шлюза?»'>
				<p class = 'question'>«Какой пароль у шлюза?»</p>
				<when>story.gotDropQuest</when>
					<p>- {{=story.password}}. Похоже, эта вспышка на Сириусе и для тебя не прошла даром. Когда прилетим надо будет заняться твоей памятью.</p>
			</action>
			<action id = '«Вспышка на Сириусе?»'>
				<p class = 'question'>«Вспышка на Сириусе?»</p>
				<when>story.gotDropQuest</when>
					<p>- Шесть часов назад, еще до того как ты разбудил меня, приборы зафиксировали превышение уровня гамма-излучения в десять раз. Это почти соответствует предельно допустимому значению. Если бы электроника продолжила работу, то просто-напросто бы сгорела. Поэтому, произошло экстренное отключение. К несчастью, вспышка, все-же, повлияла на приборы, потому что, как только угроза миновала питание не включилось. Нам повезло, что мы в это время лежали в саркофагах. Не хотелось бы мне принять душ из тяжелых ионов!</p>
			</action>			
		</character>
	
			

		<!--Темная комната-->

		<page id = 'темнаяКомната'>
			{{story.currentPage = 'темнаяКомната';}}
			<p><b>{{=story.prevLocation}}</b></p>
			<p>Ты в полной темноте. Не видно даже силуэтов предметов. И, хотя, ты помнишь план корабля наизусть твои алгоритмы запрещают тебе передвигаться в темноте.</p>
		</page>

		<!--Конец-->
		
		<page id = 'конец'>
			<p>На сорок пятом витке «Рассвет» плавно вошел в атмосферу планеты. Она оказалась очень похожей на земную - и по составу, и по плотности.</p>
			<p>Все члены экипажа находились на мостике, и не было ни на Земле, ни во всей Солнечной системе, человека, чувствовавшего себя тогда счастливее, чем они. И в этот момент ты тоже был с ними.</p>
			<p>У самого горизонта на чужом темно-голубом небе восходил Сириус. Начинался новый день...</p>
			<p><img src = 'pics/konec.png'></p>
			{{story.endGame();}}
		</page>

		<!--Разрядился-->

		<paragraph id = 'Разрядился'>
			<p text align = 'center'>* * *</p>
			<p>У тебя сели аккумуляторы. Но, что еще хуже, ты не смог спасти свою команду. Через двенадцать часов ваш корабль врезался в Сириус Д. На Земле так никогда и не узнали что с вами случилось.</p>	
			<p>Но, может быть, все было по-другому?</p>
			{{story.endGame();}}
		</paragraph>
		
		<!--Тележка-->

		<obj id = 'тележка' inventoryName = 'Тележка'>
			<action id = 'Осмотреть'>
				<p class = 'question'>осмотреть тележку</p>
				<p>Невысокая металлическая тележка вроде тех, которыми пользуются официанты в ресторанах, только намного прочнее. Обычно, ты используешь ее для уборки корабля. На тележке есть крепление, с помощью которого ее можно прицеплять к тебе. Также, на ней имеется особый электроподъемник. Индикатор заряда на боковой панели тележки горит 
				{{? !story.cabCharged}}
					красным.
				{{??}}
					зеленым.
				{{?}}
				</p>
				{{? story.pullCab}}
					<p>Тележка прицеплена к тебе.</p>
				{{?}}
			</action>
			<action id = 'Прицепить'>
				<p class = 'question'>прицепить тележку</p>
				<when>!story.pullCab</when>
					<p>Ты прицепляешь к себе тележку.</p>
					{{story.pullCab = true;}}
					{{? story.cabUnderTable}}
						<p>Ты выкатываешь из-под стола тележку.</p>
						{{story.cabUnderTable = false;}}
						{{story.cabLocation = 'Кают-компания';}}
						{{story.score += 5;}}
					{{?}}
			</action>
			<action id = 'Отцепить'>
				<p class = 'question'>отцепить тележку</p>
				<when>story.pullCab</when>
					<p>Ты отцепляешь от себя тележку.</p>
					{{story.pullCab = false;}}		
			</action>
			<action id = 'Использовать электроподъемник'>
				<when>story.currentPageIs('Трюм')</when>
					<p class = 'question'>использовать электроподъемник</p>
					<with id = 'контейнеры'>
						{{? !story.gotDropQuest}}
							<p>У тебя есть задачи поважнее, чем наводить порядок в трюме.</p>			
						{{??}}
							{{? !story.bayUnlock}}
								<p>Сперва надо открыть шлюз.</p>
							{{??}}
								{{? !story.cabCharged}}
									<p>Похоже, электроподъемник разряжен.</p>
								{{??}}
									{{story.turnTo('soko');}}
								{{?}}
							{{?}}
						{{?}}
					</with>
				<p>Хм, странная идея...</p>
			</action>
		</obj>

		<!--Телега-->
		
		<paragraph id = 'телега'>
			{{? story.currentPageIs(story.cabLocation)}}
				{{? story.pullCab && (story.prevLocation != 'темнаяКомната' && story.prevLocation != 'пробуждение' && !story.currentPageIs('Возле двери шлюза'))}}
					<p>Ты прикатываешь за собой <interact with = 'тележка'>тележку</interact>.</p>
				{{?}}
				{{? !story.pullCab || (story.pullCab && (story.prevLocation == 'темнаяКомната' || story.prevLocation == 'пробуждение'))}}
				<p>Здесь стоит <interact with = 'тележка'>тележка</interact>.</p>
				{{?}}
			{{?}}
		</paragraph>
								
		<!--Соко-->
		
		<page id = 'soko'>
			<p><b>Трюм</b></p>
			{{
			story.removeFromInventory('фонарик');
			story.removeFromInventory('лопата');
			soko();
			}}
		</page>
    </div>
	
	<!--Статус-->
	
	<div id = 'info'>
		<p><b>Батарея</b></p>
		<div id="status"></div>
		<br>
		<p><b>Счет</b></p>
		<div id = 'score'></div>
	</div>


	<!--Ссылка на репозиторий-->
	
	<div id="download"><b><a href = 'https://goo.gl/bLQ9vN' target="_blank">Код и лицензии</a><b></div>

    <div id="wrapper">
        <div id="title"></div>

        <div id="inventoryHostWrapper">
            <h2><b>Инвентарь<b></h2>
            <div id="inventoryHost"></div>
        </div>

        <div id="host"></div>
    </div>

    <div id="interactionHost"></div>

    <div id="undoStageHost"></div>


	<!--Соко-элементы-->
	
	<div id = 'sokoScreen'>
		<!--Игровое поле-->
		<div id = 'field'></div>
		<!--Кнопки управления-->
		<div id = 'controlButtons'>
			<p><button id = 'buttonUp' class = 'sokoButton'>W</button>
			<p><button id = 'buttonLeft' class = 'sokoButton'>A</button><button id = 'buttonDown' class = 'sokoButton'>S</button><button id = 'buttonRight' class = 'sokoButton'>D</button></p>
			<p><button id = 'buttonRestart' class = 'sokoButton'>X</button></p>
		</div>
		<!--Легенда-->
		<div id = 'reference'>
			<p>@ - робот</p>
			<p>O - контейнер</p>
			<p># - стена</p>
			<p>. - пол</p>
			<p>+ - дверь</p>
		</div>
	</div>

	<!--Терминал шлюза-->
	
	<div id = 'terminal'>
		<!--Окно терминала-->
		<div id = 'terminalWindow'>
			&nbsp;
		</div>
		<!--Кнопки-->
		<table>
			<tr>
				<td><div class = 'kb'>1</div></td><td><div class = 'kb'>2</div></td><td><div class = 'kb'>3</div></td>
			</tr>
			<tr>
				<td><div class = 'kb'>4</div></td><td><div class = 'kb'>5</div></td><td><div class = 'kb'>6</div></td>
			</tr>
			<tr>
				<td><div class = 'kb'>7</div></td><td><div class = 'kb'>8</div></td><td><div class = 'kb'>9</div></td>
			<tr>
				<td><div class = 'kb'>ВВ</div></td><td><div class = 'kb'>0</div></td><td><div class = 'kb'>СБ</div></td>
			</tr>
		</table>
	</div>

    <script>
        $(function () {
            new DedalusWeb({
                domSource         : $('#story'),
                domTarget         : $('#host'),
                titleTarget       : $('#title'),
                inventoryTarget   : $('#inventoryHost'),
                interactionTarget : $('#interactionHost'),
                undoTarget        : $('#undoHost'),
                undoStageTarget   : $('#undoStageHost'),
                saveTarget        : $('#saveHost'),
                restoreTarget     : $('#restoreHost'),
                resetTarget       : $('#resetHost'),
            });
        });

    </script>
</body>
</html>
